xsd/HSDB.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://purl.org/net/OCRe" xmlns:anno="http://purl.org/NET/OCRe/anno">
  <xsd:import namespace="http://purl.org/NET/OCRe/anno" schemaLocation="AnnotationImport.xsd"/>
  <xsd:element name="Root" type="RootType"/>
  <xsd:complexType name="RootType">
    <xsd:all>
      <xsd:element name="Study" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE551759" minOccurs="0" maxOccurs="unbounded" type="StudyType"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="CDType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400055">
    <xsd:complexContent>
      <xsd:extension base="ExpressionType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400078">
        <xsd:all>
          <xsd:element name="CodeSystemName" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900220" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          <xsd:element name="ConceptId" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900219" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          <xsd:element name="CodeSystemVersion" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900221" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          <xsd:element name="DisplayName" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900222" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TelecommunicationSchemeType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400005">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="mailto" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400117"/>
      <xsd:enumeration value="x-text-fax" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400119"/>
      <xsd:enumeration value="http" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400116"/>
      <xsd:enumeration value="tel" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400118"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="StudyProtocolType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300012">
    <xsd:all>
      <xsd:element name="OutcomeVariable" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900098" minOccurs="0" maxOccurs="unbounded" type="VariableSpecificationType"/>
      <xsd:element name="DefinesGroup" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE899177" minOccurs="0" maxOccurs="unbounded" type="Pre-definedGroupType"/>
      <xsd:element name="PredictorVariable" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900056" minOccurs="0" maxOccurs="unbounded" type="VariableSpecificationType"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArmPopulationType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE182000">
    <xsd:complexContent>
      <xsd:extension base="Pre-definedGroupType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE850429">
        <xsd:all>
          <xsd:element name="IndividualsAssignedTo" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE886865" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="ArmType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300001">
                  <xsd:attribute name="ref" type="xsd:IDREF"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ComparativeIntentType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100072">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Equivalence" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100012"/>
      <xsd:enumeration value="Superiority" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100011"/>
      <xsd:enumeration value="Non-inferiority" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100076"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BlindingTypeType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100045">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Outcome assessor blinded" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100014"/>
      <xsd:enumeration value="ClinicalTrials.gov Single Blind" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE494000"/>
      <xsd:enumeration value="ClinicalTrials.gov Double-Blind" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE229000"/>
      <xsd:enumeration value="Open label" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100008"/>
      <xsd:enumeration value="Subject blinded" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100064"/>
      <xsd:enumeration value="Caregiver blinded" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100036"/>
      <xsd:enumeration value="Investigator blinded" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100084"/>
      <xsd:enumeration value="Care provider blinded" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100053"/>
      <xsd:enumeration value="Statistician blinded" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100080"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PlannedActivitySpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300011">
    <xsd:all>
      <xsd:element name="EffectiveTime" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900082" minOccurs="0" maxOccurs="unbounded" type="TimePointType"/>
      <xsd:element name="Code" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE827668" minOccurs="0" maxOccurs="unbounded" type="ExpressionType"/>
      <xsd:element name="Name" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900224" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
    </xsd:all>
    <xsd:attribute name="id" type="xsd:ID"/>
  </xsd:complexType>
  <xsd:simpleType name="AllocationSchemeType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100021">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Restricted randomization" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100030"/>
      <xsd:enumeration value="Stratified randomization" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100025"/>
      <xsd:enumeration value="Non-random allocation" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100077"/>
      <xsd:enumeration value="Quasi-random allocation" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100032"/>
      <xsd:enumeration value="Minimization" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100074"/>
      <xsd:enumeration value="Simple randomization" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100083"/>
      <xsd:enumeration value="Block randomization" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100040"/>
      <xsd:enumeration value="Random allocation" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100033"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SponsoringType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE581634">
    <xsd:all>
      <xsd:element name="Actor" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE551318" minOccurs="0" maxOccurs="unbounded" type="PersonOrOrganizationType"/>
      <xsd:element name="Priority" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE747000" minOccurs="0" maxOccurs="unbounded" type="PriorityType"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:simpleType name="ControlGroupTypeType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100022">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Non-nested" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100062"/>
      <xsd:enumeration value="Nested" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100004"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SamplingMethodType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100049">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Non-probability sampling" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100019"/>
      <xsd:enumeration value="Probability sampling" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100006"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StudyStatusType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400074">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Study planned" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400000"/>
      <xsd:enumeration value="Study withdrawn" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400006"/>
      <xsd:enumeration value="Study active" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE001000"/>
      <xsd:enumeration value="Study terminated" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE908000"/>
      <xsd:enumeration value="Study suspended" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE824000"/>
      <xsd:enumeration value="Study completed" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400053"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PriorityType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE364000">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="primary" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE641000"/>
      <xsd:enumeration value="secondary" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE002000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PersonType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400076">
    <xsd:complexContent>
      <xsd:extension base="PersonOrOrganizationType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE546280">
        <xsd:all>
          <xsd:element name="FirstName" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900225" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          <xsd:element name="Address" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE901003" minOccurs="0" maxOccurs="unbounded" type="AddressType"/>
          <xsd:element name="Identifier" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE901005" minOccurs="0" maxOccurs="unbounded" type="InstanceIdentifierType"/>
          <xsd:element name="MemberOf" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900064" minOccurs="0" maxOccurs="unbounded" type="OrganizationType"/>
          <xsd:element name="LastName" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900226" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VariableSpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400050">
    <xsd:all>
      <xsd:element name="DerivedFrom" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900091" minOccurs="0" maxOccurs="unbounded" type="VariableSpecificationType"/>
      <xsd:element name="Name" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900224" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="StudyPhenomenon" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900088" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="StudyPhenomenonType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400041">
              <xsd:attribute name="id" type="xsd:ID"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Priority" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE747000" minOccurs="0" maxOccurs="unbounded" type="PriorityType"/>
      <xsd:element name="EffectiveTime" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900082" minOccurs="0" maxOccurs="unbounded" type="TimePointType"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:simpleType name="InterventionAssignmentSchemeType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100003">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Single-factor" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100065"/>
      <xsd:enumeration value="Factorial" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100089"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ExpressionType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400078">
    <xsd:all>
      <xsd:element name="Description" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900223" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400079">
    <xsd:complexContent>
      <xsd:extension base="PersonOrOrganizationType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE546280">
        <xsd:all>
          <xsd:element name="Identifier" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE901005" minOccurs="0" maxOccurs="unbounded" type="InstanceIdentifierType"/>
          <xsd:element name="Address" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE901003" minOccurs="0" maxOccurs="unbounded" type="AddressType"/>
          <xsd:element name="Name" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900224" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PlannedSubjectActivityGroupSpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300015">
    <xsd:complexContent>
      <xsd:extension base="PlannedActivitySpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300011"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PlannedSpecimenCollectionSpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300006">
    <xsd:complexContent>
      <xsd:extension base="PlannedProcedureSpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300009"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PlannedObservationSpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300008">
    <xsd:complexContent>
      <xsd:extension base="PlannedActivitySpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300011"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PlannedProcedureSpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300009">
    <xsd:complexContent>
      <xsd:extension base="PlannedActivitySpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300011"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PlannedAdministrativeActivitySpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300004">
    <xsd:complexContent>
      <xsd:extension base="PlannedActivitySpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300011"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Pre-definedGroupType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE850429">
    <xsd:all>
      <xsd:element name="Name" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900224" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="Priority" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE747000" minOccurs="0" maxOccurs="unbounded" type="PriorityType"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="IRBType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE500000">
    <xsd:complexContent>
      <xsd:extension base="OrganizationType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400079"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EpochType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300000">
    <xsd:complexContent>
      <xsd:extension base="ArmOrEpochType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE000018">
        <xsd:all>
          <xsd:element name="SequenceNumber" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE843670" minOccurs="0" maxOccurs="unbounded" type="xsd:int"/>
          <xsd:element name="Name" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900224" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400039">
    <xsd:complexContent>
      <xsd:extension base="AddressType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400040">
        <xsd:all>
          <xsd:element name="Country" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE744000" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          <xsd:element name="Zip" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE885000" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArmType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300001">
    <xsd:complexContent>
      <xsd:extension base="ArmOrEpochType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE000018">
        <xsd:all>
          <xsd:element name="Contains" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE861346" minOccurs="0" maxOccurs="unbounded" type="PlannedActivitySpecificationType"/>
          <xsd:element name="Name" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900224" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
        </xsd:all>
        <xsd:attribute name="id" type="xsd:ID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InstanceIdentifierType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400001">
    <xsd:all>
      <xsd:element name="IdentifierName" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900241" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="Root" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900239" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:simpleType name="RecruitmentStatusType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400003">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Recruitment terminated" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400068"/>
      <xsd:enumeration value="Recruitment suspended" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400075"/>
      <xsd:enumeration value="Recruitment not yet started" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400073"/>
      <xsd:enumeration value="Recruitment not active" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE441000"/>
      <xsd:enumeration value="Recruitment completed" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400030"/>
      <xsd:enumeration value="Recruitment active" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400016"/>
      <xsd:enumeration value="Recruitment will not start" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE261000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RelationBetweenCasesAndNon-casesType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100082">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Genetically related non-cases" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100034"/>
      <xsd:enumeration value="Genetically unrelated non-cases" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100086"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StudyDesignType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100056">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Case-only study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE866187"/>
      <xsd:enumeration value="Case-crossover study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100015"/>
      <xsd:enumeration value="Interventional study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100007"/>
      <xsd:enumeration value="Single group study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100052"/>
      <xsd:enumeration value="Cohort study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100078"/>
      <xsd:enumeration value="Quantitative study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100044"/>
      <xsd:enumeration value="Case-control study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100018"/>
      <xsd:enumeration value="Natural history study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE606000"/>
      <xsd:enumeration value="N-of-1 crossover study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100024"/>
      <xsd:enumeration value="Observational study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100055"/>
      <xsd:enumeration value="Case series study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE629000"/>
      <xsd:enumeration value="Parallel group study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100027"/>
      <xsd:enumeration value="Qualitative study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100047"/>
      <xsd:enumeration value="Crossover study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100020"/>
      <xsd:enumeration value="Cross-sectional study design" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100039"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PhaseType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100038">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Phase 0" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100068"/>
      <xsd:enumeration value="Phase 4" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100066"/>
      <xsd:enumeration value="Phase not applicable" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100016"/>
      <xsd:enumeration value="Phase 3" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100069"/>
      <xsd:enumeration value="Phase 2" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100070"/>
      <xsd:enumeration value="Phase 1" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100067"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PlannedSubstanceAdministrationSpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE817858">
    <xsd:complexContent>
      <xsd:extension base="PlannedProcedureSpecificationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300009"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimePointType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400024">
    <xsd:all>
      <xsd:element name="Description" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900223" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="InterventionStudyProtocolType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE892807">
    <xsd:complexContent>
      <xsd:extension base="StudyProtocolType" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE300012">
        <xsd:all>
          <xsd:element name="DividedInto" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol#OCRE885707" minOccurs="0" maxOccurs="unbounded" type="ArmOrEpochType"/>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RecruitmentSiteType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE511747">
    <xsd:complexContent>
      <xsd:extension base="OrganizationType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400079"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400040">
    <xsd:all>
      <xsd:element name="AddressString" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900209" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PersonOrOrganizationType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE546280"/>
  <xsd:complexType name="StudyPhenomenonType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400041">
    <xsd:all>
      <xsd:element name="Description" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900223" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="RelatedTo" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE140896" minOccurs="0" maxOccurs="unbounded" type="StudyPhenomenonType"/>
      <xsd:element name="Name" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900224" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="Code" sawsdl:modelReference="http://purl.org/net/OCRe/study_protocol.owl#OCRE827668" minOccurs="0" maxOccurs="unbounded" type="CDType"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ArmOrEpochType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE000018"/>
  <xsd:complexType name="FundingType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE50034">
    <xsd:all>
      <xsd:element name="Actor" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE551318" minOccurs="0" maxOccurs="unbounded" type="PersonOrOrganizationType"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="SocialInstitutionType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE541581"/>
  <xsd:simpleType name="UnitOfAllocationType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100041">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Individual as unit of allocation" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100071"/>
      <xsd:enumeration value="Cluster as unit of allocation" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100043"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="StudyType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400029">
    <xsd:all>
      <xsd:element name="AllocationConcealmentMethod" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE900003" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="BlindingType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE574000" minOccurs="0" maxOccurs="unbounded" type="BlindingTypeType"/>
      <xsd:element name="StudyAnnotation" sawsdl:modelReference="http://purl.org/net/OCRe/HSDB_OCRe.owl#OCRE000040" minOccurs="0" maxOccurs="unbounded" type="anno:StudyAnnotationType"/>
      <xsd:element name="ComparativeIntent" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE837311" minOccurs="0" maxOccurs="unbounded" type="ComparativeIntentType"/>
      <xsd:element name="RecruitmentSite" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE900319" minOccurs="0" maxOccurs="unbounded" type="RecruitmentSiteType"/>
      <xsd:element name="Phase" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE741000" minOccurs="0" maxOccurs="unbounded" type="PhaseType"/>
      <xsd:element name="StudyProtocol" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900089" minOccurs="0" maxOccurs="unbounded" type="StudyProtocolType"/>
      <xsd:element name="ActualSampleSize" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900200" minOccurs="0" maxOccurs="unbounded" type="xsd:integer"/>
      <xsd:element name="IRB" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe_ext.owl#OCRE900314" minOccurs="0" maxOccurs="unbounded" type="IRBType"/>
      <xsd:element name="SponsoringRelation" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE535519" minOccurs="0" maxOccurs="unbounded" type="SponsoringType"/>
      <xsd:element name="Matching" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE900005" minOccurs="0" maxOccurs="unbounded" type="xsd:boolean"/>
      <xsd:element name="DescriptionDate" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900214" minOccurs="0" maxOccurs="unbounded" type="xsd:date"/>
      <xsd:element name="UnitOfAllocation" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE913000" minOccurs="0" maxOccurs="unbounded" type="UnitOfAllocationType"/>
      <xsd:element name="StudyStatus" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE890531" minOccurs="0" maxOccurs="unbounded" type="StudyStatusType"/>
      <xsd:element name="ScientificTitle" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900213" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="RecruitmentStatus" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE901007" minOccurs="0" maxOccurs="unbounded" type="RecruitmentStatusType"/>
      <xsd:element name="ContactForPublicQueries" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE901004" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="Organization" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400079" minOccurs="0" maxOccurs="unbounded" type="OrganizationType"/>
            <xsd:element name="Person" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400076" minOccurs="0" maxOccurs="unbounded" type="PersonType"/>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Identifier" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE901005" minOccurs="0" maxOccurs="unbounded" type="InstanceIdentifierType"/>
      <xsd:element name="RelationBetweenCasesAndNon-cases" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE693000" minOccurs="0" maxOccurs="unbounded" type="RelationBetweenCasesAndNon-casesType"/>
      <xsd:element name="AllocationType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE837984" minOccurs="0" maxOccurs="unbounded" type="AllocationSchemeType"/>
      <xsd:element name="FundingRelation" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE529106" minOccurs="0" maxOccurs="unbounded" type="FundingType"/>
      <xsd:element name="PooledData" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE900006" minOccurs="0" maxOccurs="unbounded" type="xsd:boolean"/>
      <xsd:element name="InterventionAssignmentScheme" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE358000" minOccurs="0" maxOccurs="unbounded" type="InterventionAssignmentSchemeType"/>
      <xsd:element name="StudyDesign" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE820850" minOccurs="0" maxOccurs="unbounded" type="StudyDesignType"/>
      <xsd:element name="PrincipalInvestigator" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE901006" minOccurs="0" maxOccurs="unbounded" type="PersonType"/>
      <xsd:element name="ControlGroupType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE721000" minOccurs="0" maxOccurs="unbounded" type="ControlGroupTypeType"/>
      <xsd:element name="OutcomesOccurredBeforeOrAfterStudyStart" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE738000" minOccurs="0" maxOccurs="unbounded" type="OutcomesOccurredBeforeOrAfterStudyStartType"/>
      <xsd:element name="SamplingMethod" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE282000" minOccurs="0" maxOccurs="unbounded" type="SamplingMethodType"/>
      <xsd:element name="PlannedSampleSize" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE900203" minOccurs="0" maxOccurs="unbounded" type="xsd:integer"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="TelecommunicationAddressType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400014">
    <xsd:complexContent>
      <xsd:extension base="AddressType" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE400040">
        <xsd:all>
          <xsd:element name="Scheme" sawsdl:modelReference="http://purl.org/net/OCRe/OCRe.owl#OCRE901008" minOccurs="0" maxOccurs="unbounded" type="TelecommunicationSchemeType"/>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="OutcomesOccurredBeforeOrAfterStudyStartType" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100060">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Historical" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100087"/>
      <xsd:enumeration value="Prospective" sawsdl:modelReference="http://purl.org/net/OCRe/study_design.owl#OCRE100023"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>

